@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px, 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.skill {

    /* background: url('Black-Screen.jpg'); */
    height: 100vh;
    padding-top: 20%;
    background-color: black;
    padding: 0 10%;
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* background-size: cover; */
    /* background-position: center; */
}

.p {
    text-align: center;
    padding: 2%;
}

.l {
    padding-top: 8%;
    text-align: center;
}

.l:hover {
    color: #00abf0;
}

.m {
    display: flex;
    padding-left: 20%;
    text-align: center;
    align-items: center;
    /* display: inline; */
    /* flex-direction: column; */
}




.headings {
    text-align: center;
    padding-right: 2%;
}

.headings:hover {
    color: #00abf0;
}

.heading {
    padding-right: 2%;
}

.heading:hover {
    color: #00abf0;
}

.circular-image {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}



.card {
    padding-left: 20px;
    border-radius: 10px;

}

.card :hover {
    opacity: 0.8;
    color: #081b29;
}

.card-body :hover {
    color: #00abf0;

}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    padding-left: 50px;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}

.about {
    /* background: url('Black-Screen.jpg'); */
    height: 100vh;
    background-color: black;
    padding: 0 10%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}


.home {
    height: 100vh;
    background: url('home1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10%;
    display: flex;
    align-items: center;

}


.home-content {
    max-width: 600px;

}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;

}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:nth-child(2):hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
    overflow: hidden;

}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: -20px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;

}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;

}




.footer {
    background-color: burlywood;
    text-align: center;
    justify-content: space-between;


}







.container {
    padding-left: 80px;

}



.f {
    width: 300px;
    margin: 20vh auto 0 auto;
    
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

.h {
    color: #0f2027;
    text-align: center;
}

.b {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: wheat;
    /* rgb(41, 57, 194) */
    border: none;
    border-radius: 4px;
}

.b:hover {
    color: #000;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}



.d {
    text-align: center;
}


.download-button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: wheat;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    color: black;
    background-color: white;
}


/* Stylish Circular Progress Bar Styles */
.progress-container {
    padding-bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.progress-circle {
    padding-left: 40%;
    padding-bottom: 40%;
    width: 50px;
    height: 50px;
    border: 8px solid #00abf0;
    border-top: 8px solid white;
    border-radius: 50%;
}

.progresss-circle {
    padding-left: 40%;
    padding-bottom: 40%;
    width: 50px;
    height: 50px;
    border: 8px solid #00abf0;
    /* border-top: 8px solid #00abf0; */
    border-radius: 50%;
}





.progress-text {
    /* padding-left: 30%; */
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #00abf0;
    /* Text color */
    font-weight: bold;
}

.progress-text:hover {
    color: wheat;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}